/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

.doporucujeme{
    display: flex;
    flex-direction: column;
    height: 95VH;
}

.hlavni-recept {
    min-height: 200px !important;
    background-image: url(images/burger.jpg);
}

.recept-kategorie {
    font-weight: 400;
    font-size: 14px;
    font-family: source sans pro;
    position: absolute;
    left: 15px;
    top: 15px;
}

.recept-komentare {
    font-weight: 400;
    font-size: 14px;
    font-family: source sans pro;
    position: absolute;
    top: 15px;
    right: 15px;
}

.recept-nazev {
    font-weight: 800;
    font-size: 18px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.recept-nazev-hlavni {
    font-weight: 800;
    font-size: 28px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.recept { 
    min-height: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.recept2 {
    background-image: url(images/sushi.jpg);
}

.recept3 {
    background-image: url(images/rajcata.jpg);
}

.recept4 {
    background-image: url(images/kure.jpg)
}

.recept5 {
    background-image: url(images/grilovani.jpg)
}

@media (min-width: 480px) { 
    .doporucujeme {
       flex-direction: column;
       flex-wrap: wrap;
   }

   .sloupec {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    }
   
    .recept { 
        min-height: 150px;
        flex-basis: 100%;
    }

    .recept-kategorie {
        left: 20px;
        top: 20px;
    }

    .hlavni-recept {
        min-height: 250px;
        flex-basis: 100%;
    }

    .recept-nazev {
        font-size: 22px;
        bottom: 20px;
        left: 20px;
    }

    .recept-nazev-hlavni {
        font-size: 36px;
        bottom: 20px;
        left: 20px;
    }
    
    .recept-komentare {
        top: 20px;
        right: 20px;
    }
}

@media (min-width: 860px) {
    .doporucujeme {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .sloupec {
        display: flex;
        flex-direction: column;
        flex-basis: 33.33%;
    } 

    .recept { 
        min-height: 200px;
    }

    .hlavni-recept {
        min-height: 400px !important;
        flex-basis: 33.33%;
    }

    .recept-nazev {
        font-size: 28px;
    }

  .recept-nazev-hlavni {
        font-size: 48px;
        bottom: 20px;
        left: 20px;
    }
}
/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */